html, body{height: 100%; margin: 0px; padding: 0px;}

*{
    font-family: monospace;
    color: white;
}

body{
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.gamescreen{
    outline: 1px solid white;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(6, 1fr);
}

.gamescreen div{
    border: 1px solid white;
}

#main{
    grid-area: 1/1/5/8;
}

#chat{
    grid-area: 5/1/8/8;
}

#inventory{
    grid-area: 1/8/4/11;
}

#map{
    grid-area: 4/8/7/11;
    text-align: center;
}
