html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

:root {
    --main: #ffffff;
    --bg: #000000;
    --leshy: #008000;
}

* {
    font-family: monospace;
    color: var(--main);
}


body {
    background-color: var(--bg);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

i {
    color: var(--leshy);
}

#leshyFinalForm {
    color: var(--leshy);
}

#leshyFinalForm i {
    color: rgb(0, 255, 0);
    font-style: normal !important;
}

#leshy,
#leshySkull,
#leshyBurn {
    user-select: none;
}

#gamescreen {
    outline: 1px solid var(--main);
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(6, 1fr);
}

#main,
#chat,
#inventory,
#others,
#map,
#settings {
    border: 1px solid var(--main);
    width: 100%;
    box-sizing: border-box;
}

#main {
    grid-area: 1/1/5/8;
}

#main {
    font-size: .9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

#main pre {
    display: none;
    margin: 0;
}

#main .active {
    display: block;
}

.mainline {
    border: none !important;
}

#chat {
    grid-area: 5/1/8/8;
    overflow: auto;
}

#inventory {
    grid-area: 1/8/4/11;
}

.sword1Sprite,
.sword2Sprite,
.sword3Sprite {
    color: var(--bg);
}

#others {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: 4/8/7/11;
}

#others ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

#others ul li {
    width: 100%;
    height: 33.33333%;
}

#others ul li button {
    width: 100%;
    height: 100%;
}

#map {
    grid-area: 4/8/7/11;
    font-size: 0.7vw;
    text-align: center;
    display: none;
    border: 1px solid var(--main);
    overflow-y: hidden;
    overflow-x: hidden;
}

@media screen and (min-aspect-ratio: 9/4) {
    #map{
        overflow-y: auto;
    }
  }

#map pre {
    margin: 1% 0 0 0;
}

#map a {
    text-decoration: none;
}

#map #tooltip {
    /*esse tooltip aparece toda vez que o mouse passa em uma localização possível no mapa*/
    border: 1px solid var(--main);
    background-color: var(--bg);
    padding: 3px;
    position: absolute;
    display: none;
}


#settings {
    grid-area: 4/8/7/11;
    display: none;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: auto;
}



#settings .option {
    width: 80%;
    padding: 15px 0;
    margin: 0 auto;
    border: none;
}

#settings h3 {
    margin: 0;
}

#settings p {
    margin-top: 0;
}

#palette {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.arrow {
    padding: 5px;
    user-select: none;
    cursor: pointer;
}

#speedName, #delayName {
    width: 50px;
    display: inline-block;
}

#paletteName {
    margin: 10px 0 0 0 !important;

}

.mainColor,
.bgColor {
    border: 1px solid var(--main);
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.mainColor {
    background-color: var(--main);
}

.bgColor {
    background-color: var(--bg);
}

#settings button {
    width: 80%;

}

#deathmessage {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    color: #fff;
}

#deathmessage pre {
    font-size: 2em;
    margin: 0;
}

button {
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    background-color: var(--bg);
    outline: 2px solid var(--main);
    width: 30%;
    height: 50px;
    font-size: 1.4em;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.1s ease-in;
    cursor: pointer;
}

button:active {
    background-color: var(--main);
}

#chat {
    padding: 15px;
}

#chat,
#inventory,
#settings {
    font-size: calc(.4em + 1vh);

}

#chat a::before {
    content: "• ";
    line-height: 24px;
}

#inventory {
    overflow: auto;
}


#inventory .aligntext {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    border: none;
}

#swordunlocked,
#gogglesunlocked,
#tunicunlocked {
    display: none;
}

#inventory p {
    margin-left: 15px;
}

#inventory pre {
    font-size: .7vw;
    padding: 5px;
}

#inventory pre h3 {
    display: inline;
    font-size: 1.3em;
}

#inventoryTitle{
    font-size: .8vw !important;

}

#islandSword{
    user-select: none; 
    text-align: center;
    font-size: .7vw !important;
}

@media (pointer: fine) {
    /*quando o pointer é fino, ou seja, de PC*/


    ::-webkit-scrollbar {
        width: 10px;
    }


    ::-webkit-scrollbar-track {
        background-color: var(--bg);
        border: 1px solid var(--main);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--main);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #aaa;
}
}

#leshy, #leshySkull {color: rgb(139, 139, 139);}

.darkness  {color: rgb(95, 95, 95);}
.darkness2 {color: rgb(33, 33, 33);}
.darkness3 {color: rgb(4, 4, 4);}

.light {color: var(--main);}
.light-fire {color: rgb(255, 231, 187);}
.fire {color: orange;}

#leshyBurn {
    background-color: rgb(5, 2, 0);
    color: rgb(202, 78, 0);
}

#leshyBurn .darkness  {color: rgb(124, 37, 0);}
#leshyBurn .darkness2 {color: rgb(65, 19, 0);}
#leshyBurn .darkness3 {color: rgb(15, 4, 0);}

#winScreen {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#winScreen p {
    width: 80%;
    text-align: center;
}
