*{
    color: white;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;

}

#logo{
    margin: 25px auto 40px auto;
    width: fit-content;
    font-size: 2vh;
}

#game{
    outline: 3px double white;
    width: 70%;
    height: 75vh;
    margin: 0 auto;
    margin-bottom: 5%;
}

main{
    height: 100%;
    width: 67%;
    float: left;
}

.prompt, .art{
    height: 50%;
}

.prompt{
    outline: 1px solid white;

}

.inventario{
    width: 33%;
    height: 50%;
    float: right;
    outline: 1px solid white;
}

.mapa   {
    width: 33%;
    height: 50%;
    float: right;
    align-items: center;
    padding-top: 0.2%;
}

.mapa pre{
    text-align: center;
    padding-top: 5px;
    font-size: 1.3vh;
}

.mapa pre a{
    text-decoration: none;
}